<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>

    nav { display: flex; justify-content: space-between; }
    a {  border-radius: 5px; padding: 5px; text-decoration: none; font-weight: bold; justify-content: space-between; display: flex;
       color: black;}
    a.navbar { height: 30px; margin: 8px 8px 0 5px; background-color:lightgrey; align-items: center; }
    li {list-style-type:none;}
    ul.nav-list {display:flex; justify-content: center; }
    a.nav-link{background-color:lightgrey; margin:0 8px 0 8px;}
  </style>
</head>
<body>
  <nav>
   <a href="#" class="navbar">回到首頁</a>
   <nav class="nav"></nav>
    <ul class="nav-list">
      <li class="nav-item"><a class="nav-link" href="#About">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#Portfolio">Portfolio</a></li>
      <li class="nav-item"><a class="nav-link" href="#Contact">Contact</a></li>
    </ul>
  </nav>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
</body>
</html>